.grid-wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
  -ms-grid-columns: 1fr 6fr 6fr 6fr 1fr;
      grid-template:
                ". header header header ."
                ". content content content ." 1fr
                "footer footer footer footer footer" auto / 1fr 6fr 6fr 6fr 1fr;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
  padding: 2rem 0;
  font-size: 1.8rem;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  background: green;
}

.container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  grid-area: content;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: #F5F5F5;
}

@media screen and (max-width: 992px) {
  .container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2,1fr);
  }
  .container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

.left {
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0 20px;

}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  font-size: 1.2rem;
  grid-area: footer;
  background: grey;
  color: black;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
